In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from datetime import date
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys

In [2]:
def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [3]:
def scrap(origin,destin,trDate):
    global none
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  
        print ("Webpage found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'

        
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [5]:
dates=(pd.date_range(start='22/02/2022', end='28/02/2022'))
New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year  
    New_date.append(date)
print(New_date)

['22/02/2022', '23/02/2022', '24/02/2022', '25/02/2022', '26/02/2022', '27/02/2022', '28/02/2022']

In [6]:
#Lists to store scraped data
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    df.to_csv('Flight.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [7]:
list_of_dest=['GOI','AMD','TIR','BLR','BOM','DEL']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = GOI
destin = GOI

origin = GOI
destin = AMD

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
5,SpiceJet,22/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 5,421"
6,IndiGo,22/02/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 6,686"
7,Go First,22/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 7,047"
8,IndiGo,22/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 8,513"
9,IndiGo,22/02/2022,Goa,Ahmedabad,18:55,05:00,1 stop via Bengaluru,"₹ 8,513"
10,IndiGo,22/02/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 8,970"

Lenght :  11

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
5,SpiceJet,22/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 5,421"
6,IndiGo,22/02/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 6,686"
7,Go First,22/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 7,047"
8,IndiGo,22/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 8,513"
9,IndiGo,22/02/2022,Goa,Ahmedabad,18:55,05:00,1 stop via Bengaluru,"₹ 8,513"
10,IndiGo,22/02/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 8,970"
11,SpiceJet,23/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
12,Go First,23/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
13,Go First,23/02/2022,Goa,Ahmedabad,17:00,06:40,1 stop via Mumbai,"₹ 5,315"
14,Go First,23/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
15,Go First,23/02/2022,Goa,Ahmedabad,22:05,23:40,Non stop,"₹ 5,316"
16,IndiGo,23/02/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
17,IndiGo,23/02/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
18,IndiGo,23/02/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
19,IndiGo,23/02/2022,Goa,Ahmedabad,00:05,06:55,1 stop via Hyderabad,"₹ 5,773"
20,IndiGo,23/02/2022,Goa,Ahmedabad,16:30,01:20,1 stop via Mumbai,"₹ 5,773"
21,IndiGo,23/02/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 6,686"
22,IndiGo,23/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 7,143"
23,IndiGo,23/02/2022,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 7,600"
24,IndiGo,23/02/2022,Goa,Ahmedabad,18:55,05:00,1 stop via Bengaluru,"₹ 7,600"
25,IndiGo,23/02/2022,Goa,Ahmedabad,07:35,18:05,1 stop via Hyderabad,"₹ 8,057"
26,IndiGo,23/02/2022,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 8,970"
27,"IndiGo, Go First",23/02/2022,Goa,Ahmedabad,01:35,06:40,1 stop via Mumbai,"₹ 9,368"
28,"AirAsia, Go First",23/02/2022,Goa,Ahmedabad,06:25,19:25,1 stop via Mumbai,"₹ 9,369"
29,Air India,23/02/2022,Goa,Ahmedabad,14:10,21:30,1 stop via New Delhi,"₹ 9,415"
30,IndiGo,23/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 9,427"
31,IndiGo,23/02/2022,Goa,Ahmedabad,23:30,07:50,1 stop via Mumbai,"₹ 9,884"
32,Go First,23/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 9,938"
33,SpiceJet,23/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 10,145"
34,IndiGo,23/02/2022,Goa,Ahmedabad,13:10,20:25,1 stop via Mumbai,"₹ 10,340"
35,IndiGo,23/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 10,986"
36,"Vistara, IndiGo",23/02/2022,Goa,Ahmedabad,13:20,18:30,1 stop via Mumbai,"₹ 12,205"

Lenght :  37

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
57,"AirAsia, Go First",24/02/2022,Goa,Ahmedabad,01:05,06:40,1 stop via Mumbai,"₹ 7,900"
58,IndiGo,24/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 8,513"
59,"Air India, Go First",24/02/2022,Goa,Ahmedabad,15:20,20:25,1 stop via Mumbai,"₹ 9,213"
60,"Vistara, Go First",24/02/2022,Goa,Ahmedabad,13:20,19:25,1 stop via Mumbai,"₹ 9,318"
61,SpiceJet,24/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 10,145"

Lenght :  62

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
78,IndiGo,25/02/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 8,513"
79,IndiGo,25/02/2022,Goa,Ahmedabad,01:35,07:50,1 stop via Mumbai,"₹ 9,427"
80,IndiGo,25/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 10,340"
81,Air India,25/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 10,536"
82,Vistara,25/02/2022,Goa,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 16,920"

Lenght :  83

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
101,IndiGo,26/02/2022,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 9,884"
102,Go First,26/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 10,145"
103,Go First,26/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 10,619"
104,Air India,26/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 13,927"
105,Vistara,26/02/2022,Goa,Ahmedabad,14:40,23:00,"2 stop via Bengaluru,New Delhi","₹ 20,861"

Lenght :  106

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
123,IndiGo,27/02/2022,Goa,Ahmedabad,11:05,12:45,Non stop,"₹ 14,451"
124,IndiGo,27/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 14,451"
125,IndiGo,27/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 15,554"
126,Go First,27/02/2022,Goa,Ahmedabad,10:25,12:05,Non stop,"₹ 16,496"
127,Vistara,27/02/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 28,470"

Lenght :  128

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
147,IndiGo,28/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 14,451"
148,Air India,28/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 14,662"
149,IndiGo,28/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 14,714"
150,IndiGo,28/02/2022,Goa,Ahmedabad,01:35,07:50,1 stop via Mumbai,"₹ 16,289"
151,Vistara,28/02/2022,Goa,Ahmedabad,14:40,23:00,"2 stop via Bengaluru,New Delhi","₹ 19,811"

Lenght :  152

-----Skiped-----

origin = GOI
destin = TIR

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = GOI
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
165,"SpiceJet, Go First",22/02/2022,Goa,Bengaluru,17:35,08:40,"2 stop via Mumbai,New Delhi","₹ 14,933"
166,"SpiceJet, Vistara",22/02/2022,Goa,Bengaluru,17:35,22:50,1 stop via Mumbai,"₹ 15,512"
167,"IndiGo, Vistara",22/02/2022,Goa,Bengaluru,18:30,08:40,"2 stop via Mumbai,New Delhi","₹ 19,175"
168,"IndiGo, Vistara",22/02/2022,Goa,Bengaluru,18:30,08:40,"2 stop via Mumbai,New Delhi","₹ 19,175"
169,Go First,22/02/2022,Goa,Bengaluru,20:40,10:00,1 stop via Ahmedabad,"₹ 19,726"

Lenght :  170

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
196,"IndiGo, Air India",23/02/2022,Goa,Bengaluru,13:10,18:30,1 stop via Mumbai,"₹ 10,524"
197,"SpiceJet, Vistara",23/02/2022,Goa,Bengaluru,17:35,22:50,1 stop via Mumbai,"₹ 10,838"
198,"IndiGo, AirAsia",23/02/2022,Goa,Bengaluru,17:55,23:15,1 stop via Hyderabad,"₹ 10,925"
199,"SpiceJet, IndiGo",23/02/2022,Goa,Bengaluru,08:15,13:20,1 stop via Hyderabad,"₹ 11,238"
200,"SpiceJet, Air India",23/02/2022,Goa,Bengaluru,13:30,18:30,1 stop via Mumbai,"₹ 11,258"

Lenght :  201

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
228,Vistara,24/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 9,335"
229,Air India,24/02/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 12,460"
230,Vistara,24/02/2022,Goa,Bengaluru,21:55,08:40,1 stop via New Delhi,"₹ 14,020"
231,Air India,24/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 16,867"
232,Vistara,24/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 17,287"

Lenght :  233

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
260,Air India,25/02/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 13,720"
261,Go First,25/02/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 16,683"
262,Air India,25/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 16,867"
263,Vistara,25/02/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 17,287"
264,Vistara,25/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 19,177"

Lenght :  265

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
281,Air India,26/02/2022,Goa,Bengaluru,07:05,11:10,1 stop via Mumbai,"₹ 10,357"
282,Go First,26/02/2022,Goa,Bengaluru,23:55,07:40,1 stop via Mumbai,"₹ 10,797"
283,Go First,26/02/2022,Goa,Bengaluru,06:40,16:10,1 stop via Mumbai,"₹ 11,321"
284,Vistara,26/02/2022,Goa,Bengaluru,13:20,19:15,1 stop via Mumbai,"₹ 12,510"
285,Vistara,26/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 13,927"

Lenght :  286

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
304,"SpiceJet, IndiGo",27/02/2022,Goa,Bengaluru,08:15,13:20,1 stop via Hyderabad,"₹ 15,543"
305,"AirAsia, IndiGo",27/02/2022,Goa,Bengaluru,17:55,22:50,1 stop via Hyderabad,"₹ 15,543"
306,"Go First, IndiGo",27/02/2022,Goa,Bengaluru,08:45,13:20,1 stop via Hyderabad,"₹ 15,753"
307,"IndiGo, Vistara",27/02/2022,Goa,Bengaluru,14:30,19:30,1 stop via Hyderabad,"₹ 17,014"
308,Vistara,27/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 17,025"

Lenght :  309

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
335,Vistara,28/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 22,117"
336,Go First,28/02/2022,Goa,Bengaluru,23:45,08:40,1 stop via New Delhi,"₹ 24,925"
337,Air India,28/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 25,267"
338,Air India,28/02/2022,Goa,Bengaluru,20:25,11:10,1 stop via Mumbai,"₹ 26,580"
339,Vistara,28/02/2022,Goa,Bengaluru,21:55,08:40,1 stop via New Delhi,"₹ 27,577"

Lenght :  340

-----Skiped-----

origin = GOI
destin = BOM

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
352,AirAsia,22/02/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 11,534"
353,AirAsia,22/02/2022,Goa,Mumbai,17:55,07:15,"2 stop via Hyderabad,Bengaluru","₹ 12,963"
354,Go First,22/02/2022,Goa,Mumbai,23:45,10:10,1 stop via New Delhi,"₹ 13,637"
355,Go First,22/02/2022,Goa,Mumbai,20:40,08:40,1 stop via Ahmedabad,"₹ 15,002"
356,Go First,22/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 26,552"

Lenght :  357

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
392,Vistara,23/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 14,032"
393,Air India,23/02/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 14,820"
394,AirAsia,23/02/2022,Goa,Mumbai,08:20,21:05,1 stop via New Delhi,"₹ 17,860"
395,Vistara,23/02/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 21,872"
396,Go First,23/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 25,975"

Lenght :  397

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
435,Vistara,24/02/2022,Goa,Mumbai,21:55,07:55,1 stop via New Delhi,"₹ 14,032"
436,Air India,24/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 15,397"
437,Vistara,24/02/2022,Goa,Mumbai,14:30,23:50,1 stop via New Delhi,"₹ 15,817"
438,Vistara,24/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 15,922"
439,AirAsia,24/02/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 26,028"

Lenght :  440

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
476,Vistara,25/02/2022,Goa,Mumbai,21:55,07:55,1 stop via New Delhi,"₹ 13,612"
477,Go First,25/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 15,213"
478,Air India,25/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 15,397"
479,Vistara,25/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 16,237"
480,Go First,25/02/2022,Goa,Mumbai,14:00,21:50,1 stop via Bengaluru,"₹ 16,763"

Lenght :  481

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
516,Vistara,26/02/2022,Goa,Mumbai,21:55,09:45,1 stop via New Delhi,"₹ 20,647"
517,Go First,26/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 25,135"
518,AirAsia,26/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 26,028"
519,Vistara,26/02/2022,Goa,Mumbai,14:30,22:50,1 stop via New Delhi,"₹ 26,107"
520,Vistara,26/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 26,212"

Lenght :  521

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
558,Air India,27/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 26,107"
559,Vistara,27/02/2022,Goa,Mumbai,21:55,07:55,1 stop via New Delhi,"₹ 26,107"
560,AirAsia,27/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 26,421"
561,Vistara,27/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 26,527"
562,AirAsia,27/02/2022,Goa,Mumbai,08:20,21:05,1 stop via New Delhi,"₹ 28,101"

Lenght :  563

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
601,Go First,28/02/2022,Goa,Mumbai,23:45,09:10,1 stop via New Delhi,"₹ 23,455"
602,Air India,28/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 23,797"
603,AirAsia,28/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 26,028"
604,Vistara,28/02/2022,Goa,Mumbai,21:55,07:55,1 stop via New Delhi,"₹ 26,107"
605,AirAsia,28/02/2022,Goa,Mumbai,08:20,21:05,1 stop via New Delhi,"₹ 26,211"

Lenght :  606

-----Skiped-----

origin = GOI
destin = DEL

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
618,IndiGo,22/02/2022,Goa,New Delhi,17:05,22:30,1 stop via Surat,"₹ 8,918"
619,SpiceJet,22/02/2022,Goa,New Delhi,19:30,22:10,Non stop,"₹ 8,991"
620,IndiGo,22/02/2022,Goa,New Delhi,23:25,06:40,1 stop via Ahmedabad,"₹ 9,563"
621,AirAsia,22/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 9,650"
622,Air India,22/02/2022,Goa,New Delhi,21:00,08:55,1 stop via Bengaluru,"₹ 11,512"

Lenght :  623

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 87
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
661,"Go First, Air India",23/02/2022,Goa,New Delhi,06:40,12:15,1 stop via Mumbai,"₹ 9,579"
662,AirAsia,23/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 9,650"
663,AirAsia,23/02/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 10,670"
664,Go First,23/02/2022,Goa,New Delhi,17:40,20:20,Non stop,"₹ 14,926"
665,AirAsia,23/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 16,444"

Lenght :  666

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
703,Air India,24/02/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 9,832"
704,Vistara,24/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 10,252"
705,SpiceJet,24/02/2022,Goa,New Delhi,19:30,22:10,Non stop,"₹ 15,501"
706,AirAsia,24/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 16,444"
707,AirAsia,24/02/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 20,541"

Lenght :  708

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
744,Air India,25/02/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 9,832"
745,Vistara,25/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 10,252"
746,Air India,25/02/2022,Goa,New Delhi,15:20,20:25,1 stop via Mumbai,"₹ 10,462"
747,AirAsia,25/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 10,670"
748,SpiceJet,25/02/2022,Goa,New Delhi,15:05,17:45,Non stop,"₹ 11,091"

Lenght :  749

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
785,IndiGo,26/02/2022,Goa,New Delhi,15:20,17:50,Non stop,"₹ 13,506"
786,Go First,26/02/2022,Goa,New Delhi,23:45,02:10,Non stop,"₹ 14,926"
787,Vistara,26/02/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 15,082"
788,AirAsia,26/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 20,541"
789,Vistara,26/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 20,542"

Lenght :  790

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
826,IndiGo,27/02/2022,Goa,New Delhi,15:20,17:50,Non stop,"₹ 20,541"
827,AirAsia,27/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 20,541"
828,Air India,27/02/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 20,542"
829,Vistara,27/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 20,542"
830,Vistara,27/02/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 20,542"

Lenght :  831

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
866,AirAsia,28/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 20,541"
867,IndiGo,28/02/2022,Goa,New Delhi,18:50,21:25,Non stop,"₹ 20,541"
868,SpiceJet,28/02/2022,Goa,New Delhi,19:30,22:10,Non stop,"₹ 20,541"
869,IndiGo,28/02/2022,Goa,New Delhi,22:00,00:30,Non stop,"₹ 20,541"
870,Vistara,28/02/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 20,542"

Lenght :  871

-----Skiped-----

--------------
origin = AMD
destin = GOI

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
882,Air India,22/02/2022,Ahmedabad,Goa,22:20,17:00,"3 stop via New Delhi,Hyderabad,Mysore","₹ 18,295"
883,Air India,22/02/2022,Ahmedabad,Goa,22:20,14:45,"2 stop via New Delhi,Mumbai","₹ 24,697"
884,Air India,22/02/2022,Ahmedabad,Goa,22:20,14:45,"2 stop via New Delhi,Mumbai","₹ 24,697"
885,Air India,22/02/2022,Ahmedabad,Goa,22:20,14:45,"2 stop via New Delhi,Mumbai","₹ 24,697"
886,Air India,22/02/2022,Ahmedabad,Goa,22:20,13:25,1 stop via New Delhi,"₹ 27,532"

Lenght :  887

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

23/02/2022  scraping complete

origin = AMD
destin = AMD

origin = AMD
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = AMD
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
891,IndiGo,22/02/2022,Ahmedabad,Bengaluru,22:45,08:15,1 stop via Hyderabad,"₹ 11,272"
892,Go First,22/02/2022,Ahmedabad,Bengaluru,19:00,07:40,1 stop via Mumbai,"₹ 11,435"
893,IndiGo,22/02/2022,Ahmedabad,Bengaluru,18:45,22:50,1 stop via Hyderabad,"₹ 12,737"
894,IndiGo,22/02/2022,Ahmedabad,Bengaluru,22:00,08:30,1 stop via Mumbai,"₹ 12,737"
895,Air India,22/02/2022,Ahmedabad,Bengaluru,22:20,08:55,1 stop via New Delhi,"₹ 12,741"

Lenght :  896

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
911,"IndiGo, AirAsia",23/02/2022,Ahmedabad,Bengaluru,08:40,14:45,1 stop via Mumbai,"₹ 14,571"
912,IndiGo,23/02/2022,Ahmedabad,Bengaluru,05:40,07:55,Non stop,"₹ 15,666"
913,IndiGo,23/02/2022,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 15,666"
914,IndiGo,23/02/2022,Ahmedabad,Bengaluru,19:40,21:55,Non stop,"₹ 15,666"
915,SpiceJet,23/02/2022,Ahmedabad,Bengaluru,04:00,09:00,1 stop via Goa,"₹ 16,443"

Lenght :  916

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
929,IndiGo,24/02/2022,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 9,891"
930,IndiGo,24/02/2022,Ahmedabad,Bengaluru,06:55,14:10,1 stop via Chennai,"₹ 10,295"
931,Air India,24/02/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 10,662"
932,"IndiGo, Star Air",24/02/2022,Ahmedabad,Bengaluru,06:50,21:25,"2 stop via Mumbai,Hyderabad","₹ 10,883"
933,Vistara,24/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 11,579"

Lenght :  934

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
949,IndiGo,25/02/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 10,295"
950,IndiGo,25/02/2022,Ahmedabad,Bengaluru,18:45,22:50,1 stop via Hyderabad,"₹ 10,784"
951,IndiGo,25/02/2022,Ahmedabad,Bengaluru,06:50,11:20,1 stop via Mumbai,"₹ 11,046"
952,Vistara,25/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 14,040"
953,SpiceJet,25/02/2022,Ahmedabad,Bengaluru,05:05,16:50,1 stop via Pune,"₹ 18,187"

Lenght :  954

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
957,Go First,26/02/2022,Ahmedabad,Bengaluru,21:30,23:40,Non stop,"₹ 5,901"
958,IndiGo,26/02/2022,Ahmedabad,Bengaluru,22:45,08:15,1 stop via Hyderabad,"₹ 5,901"
959,IndiGo,26/02/2022,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 6,321"
960,IndiGo,26/02/2022,Ahmedabad,Bengaluru,22:40,08:50,1 stop via New Delhi,"₹ 6,389"
961,Go First,26/02/2022,Ahmedabad,Bengaluru,08:00,10:00,Non stop,"₹ 6,478"

Lenght :  962

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
976,IndiGo,27/02/2022,Ahmedabad,Bengaluru,06:55,14:10,1 stop via Chennai,"₹ 8,831"
977,Air India,27/02/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 9,160"
978,IndiGo,27/02/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 9,319"
979,IndiGo,27/02/2022,Ahmedabad,Bengaluru,06:50,11:20,1 stop via Mumbai,"₹ 9,807"
980,IndiGo,27/02/2022,Ahmedabad,Bengaluru,04:55,12:10,1 stop via New Delhi,"₹ 9,807"

Lenght :  981

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
997,IndiGo,28/02/2022,Ahmedabad,Bengaluru,04:45,10:05,1 stop via Mumbai,"₹ 7,366"
998,IndiGo,28/02/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 7,366"
999,IndiGo,28/02/2022,Ahmedabad,Bengaluru,06:50,11:20,1 stop via Mumbai,"₹ 10,295"
1000,Air India,28/02/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 11,586"
1001,Vistara,28/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 12,293"

Lenght :  1002

-----Skiped-----

origin = AMD
destin = BOM

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1018,Air India,22/02/2022,Ahmedabad,Mumbai,22:20,15:50,"2 stop via New Delhi,Jaipur","₹ 16,035"
1019,Air India,22/02/2022,Ahmedabad,Mumbai,22:20,20:05,"2 stop via New Delhi,Kolkata","₹ 16,773"
1020,Air India,22/02/2022,Ahmedabad,Mumbai,22:20,21:05,"2 stop via New Delhi,Bengaluru","₹ 17,466"
1021,Air India,22/02/2022,Ahmedabad,Mumbai,22:20,21:05,"2 stop via New Delhi,Bengaluru","₹ 17,466"
1022,Air India,22/02/2022,Ahmedabad,Mumbai,22:20,16:35,"2 stop via New Delhi,Goa","₹ 34,252"

Lenght :  1023

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1027,Go First,23/02/2022,Ahmedabad,Mumbai,19:00,20:15,Non stop,"₹ 5,690"
1028,IndiGo,23/02/2022,Ahmedabad,Mumbai,19:25,20:35,Non stop,"₹ 7,266"
1029,IndiGo,23/02/2022,Ahmedabad,Mumbai,06:50,08:25,Non stop,"₹ 7,791"
1030,Go First,23/02/2022,Ahmedabad,Mumbai,20:00,01:20,1 stop via Goa,"₹ 8,001"
1031,Go First,23/02/2022,Ahmedabad,Mumbai,07:10,08:40,Non stop,"₹ 8,420"

Lenght :  1032

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1040,Go First,24/02/2022,Ahmedabad,Mumbai,20:15,10:10,1 stop via New Delhi,"₹ 10,495"
1041,Go First,24/02/2022,Ahmedabad,Mumbai,20:15,10:10,1 stop via New Delhi,"₹ 10,495"
1042,Go First,24/02/2022,Ahmedabad,Mumbai,08:00,21:50,1 stop via Bengaluru,"₹ 10,521"
1043,Vistara,24/02/2022,Ahmedabad,Mumbai,06:45,15:00,1 stop via New Delhi,"₹ 11,205"
1044,Vistara,24/02/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 11,625"

Lenght :  1045

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1047,IndiGo,25/02/2022,Ahmedabad,Mumbai,06:50,08:25,Non stop,"₹ 6,426"
1048,IndiGo,25/02/2022,Ahmedabad,Mumbai,08:40,10:05,Non stop,"₹ 7,791"
1049,IndiGo,25/02/2022,Ahmedabad,Mumbai,19:25,20:35,Non stop,"₹ 8,946"
1050,IndiGo,25/02/2022,Ahmedabad,Mumbai,22:00,23:25,Non stop,"₹ 8,946"
1051,Go First,25/02/2022,Ahmedabad,Mumbai,19:00,20:15,Non stop,"₹ 9,260"

Lenght :  1052

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1068,Air India,26/02/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 13,147"
1069,Vistara,26/02/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 13,305"
1070,Go First,26/02/2022,Ahmedabad,Mumbai,08:10,17:15,1 stop via New Delhi,"₹ 13,646"
1071,Go First,26/02/2022,Ahmedabad,Mumbai,06:05,20:20,1 stop via Kolkata,"₹ 14,198"
1072,Go First,26/02/2022,Ahmedabad,Mumbai,08:10,16:35,1 stop via New Delhi,"₹ 14,223"

Lenght :  1073

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1094,Vistara,27/02/2022,Ahmedabad,Mumbai,08:25,20:05,1 stop via New Delhi,"₹ 13,200"
1095,Go First,27/02/2022,Ahmedabad,Mumbai,08:15,01:20,1 stop via Goa,"₹ 13,305"
1096,Go First,27/02/2022,Ahmedabad,Mumbai,08:15,18:20,1 stop via Goa,"₹ 15,929"
1097,Go First,27/02/2022,Ahmedabad,Mumbai,08:10,16:35,1 stop via New Delhi,"₹ 23,414"
1098,Go First,27/02/2022,Ahmedabad,Mumbai,06:05,20:20,1 stop via Kolkata,"₹ 25,748"

Lenght :  1099

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1119,Air India,28/02/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 12,412"
1120,Vistara,28/02/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 12,570"
1121,Go First,28/02/2022,Ahmedabad,Mumbai,06:05,20:20,1 stop via Kolkata,"₹ 12,833"
1122,Go First,28/02/2022,Ahmedabad,Mumbai,18:35,01:20,1 stop via Goa,"₹ 14,198"
1123,Go First,28/02/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 14,509"

Lenght :  1124

-----Skiped-----

origin = AMD
destin = DEL

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1132,Go First,22/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 12,275"
1133,Go First,22/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 12,275"
1134,Go First,22/02/2022,Ahmedabad,New Delhi,19:00,08:10,1 stop via Mumbai,"₹ 12,275"
1135,Go First,22/02/2022,Ahmedabad,New Delhi,19:00,09:40,1 stop via Mumbai,"₹ 12,275"
1136,Air India,22/02/2022,Ahmedabad,New Delhi,18:45,21:00,Non stop,"₹ 14,197"

Lenght :  1137

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1156,IndiGo,23/02/2022,Ahmedabad,New Delhi,07:30,16:10,1 stop via Bhopal,"₹ 11,912"
1157,IndiGo,23/02/2022,Ahmedabad,New Delhi,07:30,16:10,1 stop via Bhopal,"₹ 11,912"
1158,Go First,23/02/2022,Ahmedabad,New Delhi,07:10,15:45,1 stop via Mumbai,"₹ 13,851"
1159,IndiGo,23/02/2022,Ahmedabad,New Delhi,07:40,11:55,1 stop via Lucknow,"₹ 14,196"
1160,Go First,23/02/2022,Ahmedabad,New Delhi,06:05,16:55,1 stop via Kolkata,"₹ 15,720"

Lenght :  1161

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1183,Air India,24/02/2022,Ahmedabad,New Delhi,08:20,21:05,"2 stop via Nasik,Pune","₹ 12,885"
1184,Go First,24/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 13,011"
1185,IndiGo,24/02/2022,Ahmedabad,New Delhi,08:45,10:30,Non stop,"₹ 13,041"
1186,Go First,24/02/2022,Ahmedabad,New Delhi,21:30,10:10,1 stop via Bengaluru,"₹ 13,988"
1187,Go First,24/02/2022,Ahmedabad,New Delhi,18:35,02:10,1 stop via Goa,"₹ 21,128"

Lenght :  1188

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1208,IndiGo,25/02/2022,Ahmedabad,New Delhi,21:40,07:40,1 stop via Chandigarh,"₹ 14,196"
1209,Go First,25/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 14,691"
1210,Go First,25/02/2022,Ahmedabad,New Delhi,19:00,08:10,1 stop via Mumbai,"₹ 14,691"
1211,Go First,25/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 15,266"
1212,Go First,25/02/2022,Ahmedabad,New Delhi,18:35,02:10,1 stop via Goa,"₹ 21,128"

Lenght :  1213

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1235,Air India,26/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 10,417"
1236,Go First,26/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 10,701"
1237,Go First,26/02/2022,Ahmedabad,New Delhi,07:10,20:10,1 stop via Mumbai,"₹ 11,645"
1238,IndiGo,26/02/2022,Ahmedabad,New Delhi,08:45,10:30,Non stop,"₹ 13,041"
1239,Go First,26/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 21,893"

Lenght :  1240

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1266,Go First,27/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 10,542"
1267,Go First,27/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 10,542"
1268,Go First,27/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 10,701"
1269,Air India,27/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 11,362"
1270,Go First,27/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 11,645"

Lenght :  1271

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1297,Air India,28/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 9,787"
1298,Air India,28/02/2022,Ahmedabad,New Delhi,08:20,21:05,"2 stop via Nasik,Pune","₹ 10,470"
1299,Go First,28/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 11,645"
1300,Vistara,28/02/2022,Ahmedabad,New Delhi,20:40,22:20,Non stop,"₹ 14,198"
1301,Go First,28/02/2022,Ahmedabad,New Delhi,18:35,02:10,1 stop via Goa,"₹ 22,388"

Lenght :  1302

-----Skiped-----

--------------
origin = TIR
destin = GOI

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 4
Time Count in Scraping  = 8
City Count in Scraping  = 8
spanFlightCost Count in Scraping  = 4
pFlightStops Count in Scraping  = 4
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1301,Go First,28/02/2022,Ahmedabad,New Delhi,18:35,02:10,1 stop via Goa,"₹ 22,388"
1302,"SpiceJet, IndiGo",22/02/2022,Tirupati,Goa,18:55,23:35,1 stop via Hyderabad,"₹ 12,187"
1303,IndiGo,22/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 13,352"
1304,IndiGo,22/02/2022,Tirupati,Goa,17:00,23:35,1 stop via Hyderabad,"₹ 13,352"
1305,SpiceJet,22/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 19,179"

Lenght :  1306

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1313,"Air India, AirAsia",23/02/2022,Tirupati,Goa,14:15,19:35,1 stop via Hyderabad,"₹ 15,020"
1314,"IndiGo, AirAsia",23/02/2022,Tirupati,Goa,14:00,19:35,1 stop via Hyderabad,"₹ 15,439"
1315,"IndiGo, Go First",23/02/2022,Tirupati,Goa,17:00,22:55,1 stop via Hyderabad,"₹ 16,072"
1316,IndiGo,23/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 16,239"
1317,IndiGo,23/02/2022,Tirupati,Goa,17:00,20:50,1 stop via Hyderabad,"₹ 17,006"

Lenght :  1318

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 33
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1329,"IndiGo, Go First",24/02/2022,Tirupati,Goa,17:00,22:55,1 stop via Hyderabad,"₹ 16,070"
1330,IndiGo,24/02/2022,Tirupati,Goa,17:00,20:50,1 stop via Hyderabad,"₹ 17,006"
1331,IndiGo,24/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 17,006"
1332,SpiceJet,24/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 18,235"
1333,Air India,24/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 24,534"

Lenght :  1334

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1338,"SpiceJet, AirAsia",25/02/2022,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 13,025"
1339,IndiGo,25/02/2022,Tirupati,Goa,16:20,21:15,1 stop via Bengaluru,"₹ 13,224"
1340,IndiGo,25/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 14,822"
1341,"SpiceJet, IndiGo",25/02/2022,Tirupati,Goa,08:00,13:55,1 stop via Hyderabad,"₹ 15,546"
1342,IndiGo,25/02/2022,Tirupati,Goa,17:00,20:50,1 stop via Hyderabad,"₹ 17,006"

Lenght :  1343

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1351,"SpiceJet, AirAsia",26/02/2022,Tirupati,Goa,11:30,19:35,1 stop via Hyderabad,"₹ 11,866"
1352,Air India,26/02/2022,Tirupati,Goa,14:15,06:25,"2 stop via Hyderabad,Mumbai","₹ 12,459"
1353,"SpiceJet, IndiGo",26/02/2022,Tirupati,Goa,08:00,13:55,1 stop via Hyderabad,"₹ 15,546"
1354,IndiGo,26/02/2022,Tirupati,Goa,10:55,17:25,1 stop via Hyderabad,"₹ 15,713"
1355,Air India,26/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 18,129"

Lenght :  1356

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1366,SpiceJet,27/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 12,039"
1367,"SpiceJet, IndiGo",27/02/2022,Tirupati,Goa,08:00,13:55,1 stop via Hyderabad,"₹ 13,026"
1368,SpiceJet,27/02/2022,Tirupati,Goa,11:30,07:45,1 stop via Hyderabad,"₹ 13,405"
1369,"SpiceJet, IndiGo",27/02/2022,Tirupati,Goa,18:55,23:35,1 stop via Hyderabad,"₹ 14,077"
1370,"SpiceJet, AirAsia",27/02/2022,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 14,181"

Lenght :  1371

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1386,SpiceJet,28/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 9,729"
1387,IndiGo,28/02/2022,Tirupati,Goa,16:20,21:15,1 stop via Bengaluru,"₹ 9,887"
1388,IndiGo,28/02/2022,Tirupati,Goa,17:00,20:50,1 stop via Hyderabad,"₹ 10,778"
1389,IndiGo,28/02/2022,Tirupati,Goa,17:00,23:35,1 stop via Hyderabad,"₹ 10,778"
1390,Air India,28/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 16,869"

Lenght :  1391

-----Skiped-----

origin = TIR
destin = AMD

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = TIR
destin = TIR

origin = TIR
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = TIR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 5
Time Count in Scraping  = 10
City Count in Scraping  = 10
spanFlightCost Count in Scraping  = 5
pFlightStops Count in Scraping  = 5
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1391,IndiGo,22/02/2022,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 9,887"
1392,IndiGo,22/02/2022,Tirupati,Mumbai,19:55,05:50,1 stop via Hyderabad,"₹ 9,887"
1393,"SpiceJet, Air India",22/02/2022,Tirupati,Mumbai,18:55,23:55,1 stop via Hyderabad,"₹ 12,187"
1394,"SpiceJet, IndiGo",22/02/2022,Tirupati,Mumbai,18:55,02:55,"2 stop via Hyderabad,Goa","₹ 15,127"
1395,"SpiceJet, IndiGo",22/02/2022,Tirupati,Mumbai,18:55,08:10,"2 stop via Hyderabad,Goa","₹ 15,232"

Lenght :  1396

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1403,"Air India, IndiGo",23/02/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 9,090"
1404,IndiGo,23/02/2022,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 9,887"
1405,"SpiceJet, IndiGo",23/02/2022,Tirupati,Mumbai,08:00,16:35,1 stop via Hyderabad,"₹ 14,077"
1406,"SpiceJet, Vistara",23/02/2022,Tirupati,Mumbai,08:00,14:30,1 stop via Hyderabad,"₹ 14,078"
1407,"IndiGo, Vistara",23/02/2022,Tirupati,Mumbai,17:00,23:00,1 stop via Hyderabad,"₹ 14,078"

Lenght :  1408

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1418,IndiGo,24/02/2022,Tirupati,Mumbai,17:00,23:25,1 stop via Hyderabad,"₹ 7,997"
1419,IndiGo,24/02/2022,Tirupati,Mumbai,19:55,05:50,1 stop via Hyderabad,"₹ 7,997"
1420,"Air India, IndiGo",24/02/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 8,197"
1421,"SpiceJet, Air India",24/02/2022,Tirupati,Mumbai,18:55,23:55,1 stop via Hyderabad,"₹ 11,241"
1422,Air India,24/02/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"

Lenght :  1423

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1429,Air India,25/02/2022,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 7,314"
1430,IndiGo,25/02/2022,Tirupati,Mumbai,16:20,00:35,1 stop via Bengaluru,"₹ 9,257"
1431,Air India,25/02/2022,Tirupati,Mumbai,14:15,08:35,"2 stop via Hyderabad,Bengaluru","₹ 12,039"
1432,IndiGo,25/02/2022,Tirupati,Mumbai,16:20,23:15,1 stop via Bengaluru,"₹ 14,244"
1433,IndiGo,25/02/2022,Tirupati,Mumbai,16:20,21:35,1 stop via Bengaluru,"₹ 15,452"

Lenght :  1434

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1443,IndiGo,26/02/2022,Tirupati,Mumbai,10:55,16:35,1 stop via Hyderabad,"₹ 9,257"
1444,Air India,26/02/2022,Tirupati,Mumbai,14:15,09:05,"2 stop via Hyderabad,New Delhi","₹ 24,324"
1445,Air India,26/02/2022,Tirupati,Mumbai,14:15,10:10,"2 stop via Hyderabad,New Delhi","₹ 24,324"
1446,Air India,26/02/2022,Tirupati,Mumbai,14:15,11:15,"2 stop via Hyderabad,New Delhi","₹ 24,324"
1447,Air India,26/02/2022,Tirupati,Mumbai,14:15,12:50,"2 stop via Hyderabad,New Delhi","₹ 24,324"

Lenght :  1448

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1457,"SpiceJet, Air India",27/02/2022,Tirupati,Mumbai,18:55,23:55,1 stop via Hyderabad,"₹ 12,711"
1458,"IndiGo, Vistara",27/02/2022,Tirupati,Mumbai,17:00,23:00,1 stop via Hyderabad,"₹ 12,712"
1459,"SpiceJet, IndiGo",27/02/2022,Tirupati,Mumbai,11:30,19:55,"2 stop via Hyderabad,Aurangabad","₹ 14,707"
1460,"Air India, IndiGo",27/02/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 14,970"
1461,"SpiceJet, IndiGo",27/02/2022,Tirupati,Mumbai,11:30,16:35,1 stop via Hyderabad,"₹ 15,705"

Lenght :  1462

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1473,"SpiceJet, Vistara",28/02/2022,Tirupati,Mumbai,08:00,14:30,1 stop via Hyderabad,"₹ 8,092"
1474,IndiGo,28/02/2022,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 9,257"
1475,"SpiceJet, Air India",28/02/2022,Tirupati,Mumbai,18:55,23:55,1 stop via Hyderabad,"₹ 9,982"
1476,"IndiGo, Vistara",28/02/2022,Tirupati,Mumbai,17:00,23:00,1 stop via Hyderabad,"₹ 10,087"
1477,Air India,28/02/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"

Lenght :  1478

-----Skiped-----

origin = TIR
destin = DEL

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1481,IndiGo,22/02/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 5,692"
1482,IndiGo,22/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 7,079"
1483,IndiGo,22/02/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 8,119"
1484,"SpiceJet, Air India",22/02/2022,Tirupati,New Delhi,18:55,10:15,"2 stop via Hyderabad,Mumbai","₹ 17,752"
1485,"SpiceJet, Air India",22/02/2022,Tirupati,New Delhi,18:55,12:15,"2 stop via Hyderabad,Mumbai","₹ 17,752"

Lenght :  1486

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1496,SpiceJet,23/02/2022,Tirupati,New Delhi,08:00,23:45,1 stop via Hyderabad,"₹ 10,359"
1497,"Air India, IndiGo",23/02/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 10,612"
1498,IndiGo,23/02/2022,Tirupati,New Delhi,19:55,01:05,1 stop via Hyderabad,"₹ 11,934"
1499,"SpiceJet, IndiGo",23/02/2022,Tirupati,New Delhi,11:30,18:10,1 stop via Hyderabad,"₹ 13,762"
1500,"SpiceJet, Vistara",23/02/2022,Tirupati,New Delhi,08:00,15:40,1 stop via Hyderabad,"₹ 14,288"

Lenght :  1501

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1513,"Air India, IndiGo",24/02/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 9,772"
1514,"SpiceJet, Vistara",24/02/2022,Tirupati,New Delhi,08:00,15:40,1 stop via Hyderabad,"₹ 10,612"
1515,SpiceJet,24/02/2022,Tirupati,New Delhi,14:25,19:45,1 stop via Pune,"₹ 11,304"
1516,"IndiGo, Air India",24/02/2022,Tirupati,New Delhi,17:00,23:00,1 stop via Hyderabad,"₹ 13,131"
1517,"SpiceJet, IndiGo",24/02/2022,Tirupati,New Delhi,18:55,01:05,1 stop via Hyderabad,"₹ 13,551"

Lenght :  1518

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1525,IndiGo,25/02/2022,Tirupati,New Delhi,14:00,23:45,1 stop via Hyderabad,"₹ 18,602"
1526,IndiGo,25/02/2022,Tirupati,New Delhi,14:00,01:05,1 stop via Hyderabad,"₹ 18,602"
1527,IndiGo,25/02/2022,Tirupati,New Delhi,19:55,01:05,1 stop via Hyderabad,"₹ 19,073"
1528,IndiGo,25/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 21,488"
1529,IndiGo,25/02/2022,Tirupati,New Delhi,17:00,01:05,1 stop via Hyderabad,"₹ 21,488"

Lenght :  1530

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1542,IndiGo,26/02/2022,Tirupati,New Delhi,14:00,18:10,1 stop via Hyderabad,"₹ 11,934"
1543,"Air India, Vistara",26/02/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 14,078"
1544,"SpiceJet, Vistara",26/02/2022,Tirupati,New Delhi,08:00,15:40,1 stop via Hyderabad,"₹ 15,127"
1545,"SpiceJet, IndiGo",26/02/2022,Tirupati,New Delhi,11:30,18:10,1 stop via Hyderabad,"₹ 15,231"
1546,"IndiGo, Vistara",26/02/2022,Tirupati,New Delhi,17:00,22:50,1 stop via Hyderabad,"₹ 15,967"

Lenght :  1547

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1559,IndiGo,27/02/2022,Tirupati,New Delhi,14:00,19:55,1 stop via Hyderabad,"₹ 14,295"
1560,SpiceJet,27/02/2022,Tirupati,New Delhi,18:55,23:45,1 stop via Hyderabad,"₹ 20,019"
1561,SpiceJet,27/02/2022,Tirupati,New Delhi,11:30,23:45,1 stop via Hyderabad,"₹ 20,019"
1562,Air India,27/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 24,052"
1563,Air India,27/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 24,052"

Lenght :  1564

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1577,IndiGo,28/02/2022,Tirupati,New Delhi,16:20,23:10,1 stop via Bengaluru,"₹ 8,466"
1578,Air India,28/02/2022,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 9,834"
1579,SpiceJet,28/02/2022,Tirupati,New Delhi,18:55,23:45,1 stop via Hyderabad,"₹ 10,676"
1580,Air India,28/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 13,867"
1581,Air India,28/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 13,867"

Lenght :  1582

-----Skiped-----

--------------
origin = BLR
destin = GOI

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1593,Vistara,22/02/2022,Bengaluru,Goa,21:40,12:45,1 stop via Mumbai,"₹ 27,250"
1594,Air India,22/02/2022,Bengaluru,Goa,21:00,13:25,1 stop via New Delhi,"₹ 27,439"
1595,Vistara,22/02/2022,Bengaluru,Goa,21:10,12:45,"2 stop via New Delhi,Mumbai","₹ 35,867"
1596,Vistara,22/02/2022,Bengaluru,Goa,18:50,12:45,"2 stop via New Delhi,Mumbai","₹ 35,867"
1597,Vistara,22/02/2022,Bengaluru,Goa,19:40,12:45,"2 stop via New Delhi,Mumbai","₹ 41,390"

Lenght :  1598

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1611,AirAsia,23/02/2022,Bengaluru,Goa,14:30,19:35,1 stop via Hyderabad,"₹ 15,283"
1612,Air India,23/02/2022,Bengaluru,Goa,19:10,06:25,1 stop via Mumbai,"₹ 16,729"
1613,Vistara,23/02/2022,Bengaluru,Goa,21:40,12:45,1 stop via Mumbai,"₹ 16,729"
1614,Air India,23/02/2022,Bengaluru,Goa,18:50,06:25,"2 stop via Hyderabad,Mumbai","₹ 19,774"
1615,Go First,23/02/2022,Bengaluru,Goa,08:10,12:45,1 stop via Mumbai,"₹ 20,581"

Lenght :  1616

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1646,"AirAsia, IndiGo",24/02/2022,Bengaluru,Goa,07:35,13:55,1 stop via Hyderabad,"₹ 16,457"
1647,"Air India, IndiGo",24/02/2022,Bengaluru,Goa,18:50,23:35,1 stop via Hyderabad,"₹ 16,457"
1648,Vistara,24/02/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 16,729"
1649,Air India,24/02/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 16,729"
1650,Vistara,24/02/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 16,834"

Lenght :  1651

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1674,Air India,25/02/2022,Bengaluru,Goa,13:20,22:25,"2 stop via New Delhi,Mumbai","₹ 17,940"
1675,Go First,25/02/2022,Bengaluru,Goa,05:30,20:10,1 stop via Ahmedabad,"₹ 19,747"
1676,Vistara,25/02/2022,Bengaluru,Goa,11:30,21:20,1 stop via New Delhi,"₹ 21,979"
1677,Air India,25/02/2022,Bengaluru,Goa,19:00,20:30,Non stop,"₹ 23,817"
1678,Vistara,25/02/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 27,250"

Lenght :  1679

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1701,Vistara,26/02/2022,Bengaluru,Goa,19:55,07:50,1 stop via Mumbai,"₹ 13,737"
1702,Vistara,26/02/2022,Bengaluru,Goa,19:00,07:50,1 stop via Mumbai,"₹ 13,737"
1703,AirAsia,26/02/2022,Bengaluru,Goa,07:35,17:25,1 stop via Hyderabad,"₹ 15,810"
1704,AirAsia,26/02/2022,Bengaluru,Goa,12:50,17:25,1 stop via Hyderabad,"₹ 16,571"
1705,Air India,26/02/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 16,729"

Lenght :  1706

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1731,Air India,27/02/2022,Bengaluru,Goa,10:25,22:25,"2 stop via New Delhi,Mumbai","₹ 13,162"
1732,Go First,27/02/2022,Bengaluru,Goa,08:10,12:45,1 stop via Mumbai,"₹ 14,649"
1733,Vistara,27/02/2022,Bengaluru,Goa,11:30,21:20,1 stop via New Delhi,"₹ 14,775"
1734,Air India,27/02/2022,Bengaluru,Goa,06:30,17:00,"2 stop via Hyderabad,Mysore","₹ 14,787"
1735,Vistara,27/02/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 16,729"

Lenght :  1736

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1760,Air India,28/02/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 10,639"
1761,Vistara,28/02/2022,Bengaluru,Goa,08:30,12:45,1 stop via Mumbai,"₹ 12,057"
1762,Vistara,28/02/2022,Bengaluru,Goa,06:40,12:45,1 stop via Mumbai,"₹ 12,057"
1763,Go First,28/02/2022,Bengaluru,Goa,08:10,12:45,1 stop via Mumbai,"₹ 12,129"
1764,Vistara,28/02/2022,Bengaluru,Goa,11:30,21:20,1 stop via New Delhi,"₹ 12,454"

Lenght :  1765

-----Skiped-----

origin = BLR
destin = AMD

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1770,"Air India, Go First",22/02/2022,Bengaluru,Ahmedabad,19:00,06:40,"2 stop via Goa,Mumbai","₹ 9,654"
1771,"Air India, IndiGo",22/02/2022,Bengaluru,Ahmedabad,19:00,01:00,1 stop via Goa,"₹ 9,655"
1772,IndiGo,22/02/2022,Bengaluru,Ahmedabad,18:00,01:20,1 stop via Mumbai,"₹ 9,956"
1773,Vistara,22/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 11,116"
1774,IndiGo,22/02/2022,Bengaluru,Ahmedabad,17:15,23:50,1 stop via Pune,"₹ 12,003"

Lenght :  1775

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1803,"Vistara, IndiGo",23/02/2022,Bengaluru,Ahmedabad,12:45,22:15,"2 stop via Goa,Hyderabad","₹ 13,272"
1804,Vistara,23/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 15,417"
1805,IndiGo,23/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 15,941"
1806,IndiGo,23/02/2022,Bengaluru,Ahmedabad,19:50,01:00,1 stop via Goa,"₹ 16,676"
1807,"AirAsia, Go First",23/02/2022,Bengaluru,Ahmedabad,14:30,23:40,"2 stop via Hyderabad,Goa","₹ 20,599"

Lenght :  1808

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1840,IndiGo,24/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 12,896"
1841,"Star Air, IndiGo",24/02/2022,Bengaluru,Ahmedabad,07:05,18:05,1 stop via Hyderabad,"₹ 12,990"
1842,IndiGo,24/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 13,736"
1843,SpiceJet,24/02/2022,Bengaluru,Ahmedabad,10:20,08:20,1 stop via Pune,"₹ 14,063"
1844,IndiGo,24/02/2022,Bengaluru,Ahmedabad,19:50,01:00,1 stop via Goa,"₹ 14,796"

Lenght :  1845

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1869,IndiGo,25/02/2022,Bengaluru,Ahmedabad,14:45,22:15,1 stop via Hyderabad,"₹ 15,521"
1870,IndiGo,25/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 15,941"
1871,Vistara,25/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 16,047"
1872,SpiceJet,25/02/2022,Bengaluru,Ahmedabad,05:45,23:15,1 stop via Goa,"₹ 16,728"
1873,IndiGo,25/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 17,831"

Lenght :  1874

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1897,IndiGo,26/02/2022,Bengaluru,Ahmedabad,16:20,22:15,1 stop via Hyderabad,"₹ 12,738"
1898,IndiGo,26/02/2022,Bengaluru,Ahmedabad,14:45,22:15,1 stop via Hyderabad,"₹ 13,001"
1899,IndiGo,26/02/2022,Bengaluru,Ahmedabad,13:05,18:05,1 stop via Hyderabad,"₹ 13,316"
1900,IndiGo,26/02/2022,Bengaluru,Ahmedabad,09:20,18:05,1 stop via Hyderabad,"₹ 13,316"
1901,IndiGo,26/02/2022,Bengaluru,Ahmedabad,19:50,01:00,1 stop via Goa,"₹ 14,786"

Lenght :  1902

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 59
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1926,IndiGo,27/02/2022,Bengaluru,Ahmedabad,14:45,22:15,1 stop via Hyderabad,"₹ 12,266"
1927,IndiGo,27/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 13,053"
1928,IndiGo,27/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 13,316"
1929,Vistara,27/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 15,522"
1930,IndiGo,27/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 15,626"

Lenght :  1931

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 61
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1956,IndiGo,28/02/2022,Bengaluru,Ahmedabad,16:50,01:20,1 stop via Mumbai,"₹ 10,890"
1957,Vistara,28/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 11,116"
1958,IndiGo,28/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 11,258"
1959,IndiGo,28/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 11,321"
1960,IndiGo,28/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 11,993"

Lenght :  1961

-----Skiped-----

origin = BLR
destin = TIR

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = BLR
destin = BLR

origin = BLR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1976,IndiGo,22/02/2022,Bengaluru,Mumbai,18:00,19:50,Non stop,"₹ 5,913"
1977,IndiGo,22/02/2022,Bengaluru,Mumbai,21:15,23:15,Non stop,"₹ 5,913"
1978,IndiGo,22/02/2022,Bengaluru,Mumbai,19:50,00:40,1 stop via Goa,"₹ 7,005"
1979,Vistara,22/02/2022,Bengaluru,Mumbai,18:25,20:15,Non stop,"₹ 7,122"
1980,Air India,22/02/2022,Bengaluru,Mumbai,18:50,23:55,1 stop via Hyderabad,"₹ 8,224"

Lenght :  1981

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 47
Time Count in Scraping  = 94
City Count in Scraping  = 95
spanFlightCost Count in Scraping  = 47
pFlightStops Count in Scraping  = 47
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2023,IndiGo,23/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 9,168"
2024,AirAsia,23/02/2022,Bengaluru,Mumbai,20:45,02:25,1 stop via Goa,"₹ 9,277"
2025,AirAsia,23/02/2022,Bengaluru,Mumbai,20:45,02:25,1 stop via Goa,"₹ 9,277"
2026,IndiGo,23/02/2022,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 9,746"
2027,SpiceJet,23/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 17,464"

Lenght :  2028

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 48
Time Count in Scraping  = 96
City Count in Scraping  = 98
spanFlightCost Count in Scraping  = 48
pFlightStops Count in Scraping  = 48
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2071,Air India,24/02/2022,Bengaluru,Mumbai,06:10,12:50,1 stop via New Delhi,"₹ 9,277"
2072,Air India,24/02/2022,Bengaluru,Mumbai,13:20,20:00,1 stop via New Delhi,"₹ 9,277"
2073,AirAsia,24/02/2022,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 9,772"
2074,Go First,24/02/2022,Bengaluru,Mumbai,08:10,09:50,Non stop,"₹ 11,793"
2075,SpiceJet,24/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 16,728"

Lenght :  2076

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2121,Vistara,25/02/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 10,377"
2122,Vistara,25/02/2022,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 10,377"
2123,Vistara,25/02/2022,Bengaluru,Mumbai,19:55,21:50,Non stop,"₹ 10,377"
2124,Go First,25/02/2022,Bengaluru,Mumbai,20:00,21:50,Non stop,"₹ 12,843"
2125,SpiceJet,25/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 21,138"

Lenght :  2126

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2171,IndiGo,26/02/2022,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 9,746"
2172,IndiGo,26/02/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 9,903"
2173,IndiGo,26/02/2022,Bengaluru,Mumbai,09:20,15:05,1 stop via Chennai,"₹ 10,202"
2174,IndiGo,26/02/2022,Bengaluru,Mumbai,07:10,12:15,1 stop via Hyderabad,"₹ 10,659"
2175,Vistara,26/02/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 14,314"

Lenght :  2176

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2221,IndiGo,27/02/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 9,903"
2222,IndiGo,27/02/2022,Bengaluru,Mumbai,09:40,14:45,1 stop via Mangalore,"₹ 10,202"
2223,IndiGo,27/02/2022,Bengaluru,Mumbai,19:50,00:40,1 stop via Goa,"₹ 10,202"
2224,IndiGo,27/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 11,583"
2225,AirAsia,27/02/2022,Bengaluru,Mumbai,17:35,19:20,Non stop,"₹ 14,313"

Lenght :  2226

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2275,IndiGo,28/02/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 7,593"
2276,IndiGo,28/02/2022,Bengaluru,Mumbai,09:40,14:45,1 stop via Mangalore,"₹ 7,919"
2277,IndiGo,28/02/2022,Bengaluru,Mumbai,09:40,14:45,1 stop via Mangalore,"₹ 7,919"
2278,Vistara,28/02/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 8,224"
2279,SpiceJet,28/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 13,096"

Lenght :  2280

-----Skiped-----

origin = BLR
destin = DEL

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2293,IndiGo,22/02/2022,Bengaluru,New Delhi,19:05,01:40,1 stop via Nagpur,"₹ 10,202"
2294,IndiGo,22/02/2022,Bengaluru,New Delhi,19:05,01:40,1 stop via Nagpur,"₹ 10,202"
2295,Vistara,22/02/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 10,744"
2296,Vistara,22/02/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,849"
2297,Vistara,22/02/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 12,687"

Lenght :  2298

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2350,Vistara,23/02/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 11,637"
2351,IndiGo,23/02/2022,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 11,688"
2352,IndiGo,23/02/2022,Bengaluru,New Delhi,11:20,16:30,1 stop via Pune,"₹ 12,213"
2353,Vistara,23/02/2022,Bengaluru,New Delhi,11:30,16:30,1 stop via Chandigarh,"₹ 12,214"
2354,Vistara,23/02/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 12,522"

Lenght :  2355

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2412,"Star Air, IndiGo",24/02/2022,Bengaluru,New Delhi,07:05,16:05,1 stop via Hyderabad,"₹ 11,205"
2413,Vistara,24/02/2022,Bengaluru,New Delhi,07:55,12:40,1 stop via Hyderabad,"₹ 11,479"
2414,Vistara,24/02/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 11,479"
2415,SpiceJet,24/02/2022,Bengaluru,New Delhi,05:55,08:40,Non stop,"₹ 20,403"
2416,Go First,24/02/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 30,284"

Lenght :  2417

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2470,Vistara,25/02/2022,Bengaluru,New Delhi,08:30,14:05,1 stop via Mumbai,"₹ 12,687"
2471,Vistara,25/02/2022,Bengaluru,New Delhi,07:55,12:40,1 stop via Hyderabad,"₹ 12,739"
2472,IndiGo,25/02/2022,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 13,421"
2473,IndiGo,25/02/2022,Bengaluru,New Delhi,11:40,17:35,1 stop via Indore,"₹ 13,946"
2474,SpiceJet,25/02/2022,Bengaluru,New Delhi,21:55,00:35,Non stop,"₹ 20,403"

Lenght :  2475

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2532,IndiGo,26/02/2022,Bengaluru,New Delhi,19:20,01:05,1 stop via Hyderabad,"₹ 12,423"
2533,Air India,26/02/2022,Bengaluru,New Delhi,13:20,15:55,Non stop,"₹ 12,634"
2534,Vistara,26/02/2022,Bengaluru,New Delhi,11:30,16:30,1 stop via Chandigarh,"₹ 12,634"
2535,Go First,26/02/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 14,922"
2536,Air India,26/02/2022,Bengaluru,New Delhi,10:25,13:00,Non stop,"₹ 16,519"

Lenght :  2537

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 130
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2597,IndiGo,27/02/2022,Bengaluru,New Delhi,17:15,22:40,1 stop via Pune,"₹ 12,266"
2598,Vistara,27/02/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 12,687"
2599,IndiGo,27/02/2022,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 12,896"
2600,IndiGo,27/02/2022,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 13,788"
2601,Air India,27/02/2022,Bengaluru,New Delhi,13:20,15:55,Non stop,"₹ 16,519"

Lenght :  2602

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 134
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2664,Vistara,28/02/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 10,744"
2665,Vistara,28/02/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,744"
2666,IndiGo,28/02/2022,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 10,796"
2667,IndiGo,28/02/2022,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 10,848"
2668,Vistara,28/02/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 11,164"

Lenght :  2669

-----Skiped-----

--------------
origin = BOM
destin = GOI

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2689,Vistara,22/02/2022,Mumbai,Goa,19:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 22,632"
2690,Vistara,22/02/2022,Mumbai,Goa,19:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 22,632"
2691,Vistara,22/02/2022,Mumbai,Goa,19:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 22,632"
2692,Air India,22/02/2022,Mumbai,Goa,21:30,13:25,1 stop via New Delhi,"₹ 25,893"
2693,Air India,22/02/2022,Mumbai,Goa,18:35,13:25,"2 stop via Ahmedabad,New Delhi","₹ 33,453"

Lenght :  2694

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2725,Air India,23/02/2022,Mumbai,Goa,07:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 14,609"
2726,Vistara,23/02/2022,Mumbai,Goa,06:00,14:05,"2 stop via New Delhi,Bengaluru","₹ 17,088"
2727,Go First,23/02/2022,Mumbai,Goa,13:30,23:10,1 stop via New Delhi,"₹ 19,988"
2728,AirAsia,23/02/2022,Mumbai,Goa,21:45,07:50,1 stop via New Delhi,"₹ 21,508"
2729,Vistara,23/02/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 21,658"

Lenght :  2730

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2764,Go First,24/02/2022,Mumbai,Goa,13:30,23:10,1 stop via New Delhi,"₹ 17,678"
2765,Air India,24/02/2022,Mumbai,Goa,10:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 18,704"
2766,Vistara,24/02/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 18,858"
2767,Vistara,24/02/2022,Mumbai,Goa,11:55,21:20,1 stop via New Delhi,"₹ 18,963"
2768,Vistara,24/02/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 19,278"

Lenght :  2769

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2803,Vistara,25/02/2022,Mumbai,Goa,08:45,21:20,1 stop via New Delhi,"₹ 21,168"
2804,Vistara,25/02/2022,Mumbai,Goa,10:25,21:20,1 stop via New Delhi,"₹ 21,483"
2805,Vistara,25/02/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 21,658"
2806,Go First,25/02/2022,Mumbai,Goa,13:30,23:10,1 stop via New Delhi,"₹ 26,339"
2807,Vistara,25/02/2022,Mumbai,Goa,07:30,13:50,1 stop via New Delhi,"₹ 30,450"

Lenght :  2808

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 81
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2843,Air India,26/02/2022,Mumbai,Goa,07:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 16,530"
2844,Vistara,26/02/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 21,168"
2845,Vistara,26/02/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 21,168"
2846,Vistara,26/02/2022,Mumbai,Goa,11:55,21:20,1 stop via New Delhi,"₹ 21,168"
2847,Vistara,26/02/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 21,658"

Lenght :  2848

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2886,Vistara,27/02/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 13,503"
2887,Vistara,27/02/2022,Mumbai,Goa,10:25,21:20,1 stop via New Delhi,"₹ 13,503"
2888,Vistara,27/02/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 13,818"
2889,Vistara,27/02/2022,Mumbai,Goa,08:45,21:20,1 stop via New Delhi,"₹ 13,818"
2890,AirAsia,27/02/2022,Mumbai,Goa,21:45,07:50,1 stop via New Delhi,"₹ 15,908"

Lenght :  2891

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 46
Time Count in Scraping  = 92
City Count in Scraping  = 94
spanFlightCost Count in Scraping  = 46
pFlightStops Count in Scraping  = 46
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2932,AirAsia,28/02/2022,Mumbai,Goa,21:45,07:50,1 stop via New Delhi,"₹ 10,196"
2933,Go First,28/02/2022,Mumbai,Goa,06:00,13:30,1 stop via New Delhi,"₹ 12,849"
2934,Vistara,28/02/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 12,978"
2935,Vistara,28/02/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 13,083"
2936,AirAsia,28/02/2022,Mumbai,Goa,07:20,14:55,1 stop via New Delhi,"₹ 13,921"

Lenght :  2937

-----Skiped-----

origin = BOM
destin = AMD

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2953,Vistara,22/02/2022,Mumbai,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 12,611"
2954,Vistara,22/02/2022,Mumbai,Ahmedabad,20:55,07:50,1 stop via New Delhi,"₹ 12,716"
2955,Vistara,22/02/2022,Mumbai,Ahmedabad,17:35,23:00,1 stop via New Delhi,"₹ 12,821"
2956,Vistara,22/02/2022,Mumbai,Ahmedabad,19:45,23:00,1 stop via New Delhi,"₹ 12,821"
2957,Air India,22/02/2022,Mumbai,Ahmedabad,19:00,21:30,"2 stop via Nagpur,New Delhi","₹ 18,714"

Lenght :  2958

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2980,Vistara,23/02/2022,Mumbai,Ahmedabad,11:55,23:00,1 stop via New Delhi,"₹ 11,351"
2981,Vistara,23/02/2022,Mumbai,Ahmedabad,22:45,07:50,1 stop via New Delhi,"₹ 11,403"
2982,Vistara,23/02/2022,Mumbai,Ahmedabad,14:40,23:00,1 stop via New Delhi,"₹ 11,666"
2983,IndiGo,23/02/2022,Mumbai,Ahmedabad,21:40,07:05,1 stop via Indore,"₹ 11,928"
2984,Vistara,23/02/2022,Mumbai,Ahmedabad,17:35,23:00,1 stop via New Delhi,"₹ 11,981"

Lenght :  2985

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3006,Vistara,24/02/2022,Mumbai,Ahmedabad,10:25,23:00,1 stop via New Delhi,"₹ 10,773"
3007,Vistara,24/02/2022,Mumbai,Ahmedabad,14:40,23:00,1 stop via New Delhi,"₹ 11,088"
3008,Vistara,24/02/2022,Mumbai,Ahmedabad,22:45,07:50,1 stop via New Delhi,"₹ 11,403"
3009,Air India,24/02/2022,Mumbai,Ahmedabad,16:00,21:30,1 stop via New Delhi,"₹ 11,613"
3010,Vistara,24/02/2022,Mumbai,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 12,139"

Lenght :  3011

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3033,Vistara,25/02/2022,Mumbai,Ahmedabad,15:45,23:00,1 stop via New Delhi,"₹ 13,241"
3034,Vistara,25/02/2022,Mumbai,Ahmedabad,12:25,23:00,1 stop via New Delhi,"₹ 13,241"
3035,Vistara,25/02/2022,Mumbai,Ahmedabad,14:40,23:00,1 stop via New Delhi,"₹ 13,871"
3036,Vistara,25/02/2022,Mumbai,Ahmedabad,17:35,23:00,1 stop via New Delhi,"₹ 14,186"
3037,Vistara,25/02/2022,Mumbai,Ahmedabad,22:45,07:50,1 stop via New Delhi,"₹ 14,343"

Lenght :  3038

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3058,Vistara,26/02/2022,Mumbai,Ahmedabad,17:35,23:00,1 stop via New Delhi,"₹ 10,668"
3059,Vistara,26/02/2022,Mumbai,Ahmedabad,22:45,07:50,1 stop via New Delhi,"₹ 10,983"
3060,Vistara,26/02/2022,Mumbai,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 10,983"
3061,Vistara,26/02/2022,Mumbai,Ahmedabad,15:45,23:00,1 stop via New Delhi,"₹ 11,403"
3062,Vistara,26/02/2022,Mumbai,Ahmedabad,14:40,23:00,1 stop via New Delhi,"₹ 11,403"

Lenght :  3063

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3089,Vistara,27/02/2022,Mumbai,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 12,611"
3090,Vistara,27/02/2022,Mumbai,Ahmedabad,20:55,07:50,1 stop via New Delhi,"₹ 12,611"
3091,Vistara,27/02/2022,Mumbai,Ahmedabad,19:45,07:50,1 stop via New Delhi,"₹ 12,611"
3092,Air India,27/02/2022,Mumbai,Ahmedabad,08:10,18:50,"2 stop via Lucknow,New Delhi","₹ 12,803"
3093,Air India,27/02/2022,Mumbai,Ahmedabad,16:00,21:30,1 stop via New Delhi,"₹ 13,188"

Lenght :  3094

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3120,Vistara,28/02/2022,Mumbai,Ahmedabad,11:55,23:00,1 stop via New Delhi,"₹ 10,983"
3121,Vistara,28/02/2022,Mumbai,Ahmedabad,15:45,23:00,1 stop via New Delhi,"₹ 11,088"
3122,Vistara,28/02/2022,Mumbai,Ahmedabad,14:40,23:00,1 stop via New Delhi,"₹ 11,088"
3123,Vistara,28/02/2022,Mumbai,Ahmedabad,22:45,07:50,1 stop via New Delhi,"₹ 11,246"
3124,Vistara,28/02/2022,Mumbai,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 11,246"

Lenght :  3125

-----Skiped-----

origin = BOM
destin = TIR

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = BOM
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3140,Vistara,22/02/2022,Mumbai,Bengaluru,20:55,08:40,1 stop via New Delhi,"₹ 11,129"
3141,Vistara,22/02/2022,Mumbai,Bengaluru,19:45,08:40,1 stop via New Delhi,"₹ 14,074"
3142,Vistara,22/02/2022,Mumbai,Bengaluru,18:30,08:40,1 stop via New Delhi,"₹ 14,074"
3143,AirAsia,22/02/2022,Mumbai,Bengaluru,21:20,23:15,Non stop,"₹ 14,238"
3144,Vistara,22/02/2022,Mumbai,Bengaluru,21:00,17:00,"2 stop via Chennai,New Delhi","₹ 30,198"

Lenght :  3145

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3190,Air India,23/02/2022,Mumbai,Bengaluru,10:00,16:15,1 stop via New Delhi,"₹ 9,201"
3191,IndiGo,23/02/2022,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 9,671"
3192,IndiGo,23/02/2022,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 10,584"
3193,IndiGo,23/02/2022,Mumbai,Bengaluru,13:45,19:00,1 stop via Vadodara,"₹ 11,041"
3194,Vistara,23/02/2022,Mumbai,Bengaluru,17:35,23:20,1 stop via New Delhi,"₹ 11,307"

Lenght :  3195

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3242,IndiGo,24/02/2022,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 8,300"
3243,Air India,24/02/2022,Mumbai,Bengaluru,10:00,16:15,1 stop via New Delhi,"₹ 9,201"
3244,IndiGo,24/02/2022,Mumbai,Bengaluru,04:35,10:05,1 stop via Chennai,"₹ 9,214"
3245,AirAsia,24/02/2022,Mumbai,Bengaluru,21:20,23:15,Non stop,"₹ 9,697"
3246,SpiceJet,24/02/2022,Mumbai,Bengaluru,23:45,09:00,1 stop via Goa,"₹ 15,331"

Lenght :  3247

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3292,IndiGo,25/02/2022,Mumbai,Bengaluru,18:50,20:35,Non stop,"₹ 10,668"
3293,AirAsia,25/02/2022,Mumbai,Bengaluru,04:45,08:40,1 stop via Goa,"₹ 11,129"
3294,Go First,25/02/2022,Mumbai,Bengaluru,18:10,23:40,1 stop via Ahmedabad,"₹ 11,168"
3295,Vistara,25/02/2022,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 11,802"
3296,IndiGo,25/02/2022,Mumbai,Bengaluru,20:30,22:15,Non stop,"₹ 14,238"

Lenght :  3297

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 105
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3344,Go First,26/02/2022,Mumbai,Bengaluru,18:10,23:40,1 stop via Ahmedabad,"₹ 10,012"
3345,Vistara,26/02/2022,Mumbai,Bengaluru,17:35,23:20,1 stop via New Delhi,"₹ 11,129"
3346,IndiGo,26/02/2022,Mumbai,Bengaluru,16:55,23:05,1 stop via Goa,"₹ 11,666"
3347,AirAsia,26/02/2022,Mumbai,Bengaluru,00:40,02:35,Non stop,"₹ 14,238"
3348,SpiceJet,26/02/2022,Mumbai,Bengaluru,23:45,09:00,1 stop via Goa,"₹ 15,813"

Lenght :  3349

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3400,IndiGo,27/02/2022,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 9,828"
3401,Go First,27/02/2022,Mumbai,Bengaluru,14:35,16:10,Non stop,"₹ 9,932"
3402,Air India,27/02/2022,Mumbai,Bengaluru,16:45,18:30,Non stop,"₹ 10,038"
3403,IndiGo,27/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 10,127"
3404,SpiceJet,27/02/2022,Mumbai,Bengaluru,23:45,09:00,1 stop via Goa,"₹ 15,334"

Lenght :  3405

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 115
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3457,AirAsia,28/02/2022,Mumbai,Bengaluru,13:05,14:45,Non stop,"₹ 6,651"
3458,IndiGo,28/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,930"
3459,IndiGo,28/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,930"
3460,IndiGo,28/02/2022,Mumbai,Bengaluru,11:05,17:30,1 stop via Mangalore,"₹ 6,930"
3461,SpiceJet,28/02/2022,Mumbai,Bengaluru,23:45,09:00,1 stop via Goa,"₹ 8,404"

Lenght :  3462

-----Skiped-----

origin = BOM
destin = BOM

origin = BOM
destin = DEL

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3477,AirAsia,22/02/2022,Mumbai,New Delhi,21:20,10:30,1 stop via Bengaluru,"₹ 9,828"
3478,Vistara,22/02/2022,Mumbai,New Delhi,19:20,19:55,1 stop via Hyderabad,"₹ 11,928"
3479,AirAsia,22/02/2022,Mumbai,New Delhi,21:20,03:20,1 stop via Bengaluru,"₹ 12,138"
3480,Air India,22/02/2022,Mumbai,New Delhi,18:35,23:55,1 stop via Ahmedabad,"₹ 14,028"
3481,IndiGo,22/02/2022,Mumbai,New Delhi,20:15,00:20,1 stop via Ahmedabad,"₹ 16,706"

Lenght :  3482

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 139
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3546,Vistara,23/02/2022,Mumbai,New Delhi,16:00,21:35,1 stop via Bengaluru,"₹ 12,453"
3547,IndiGo,23/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 12,821"
3548,Vistara,23/02/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 13,707"
3549,IndiGo,23/02/2022,Mumbai,New Delhi,09:25,13:40,1 stop via Indore,"₹ 13,796"
3550,Vistara,23/02/2022,Mumbai,New Delhi,08:45,11:00,Non stop,"₹ 15,709"

Lenght :  3551

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 72
Time Count in Scraping  = 144
City Count in Scraping  = 145
spanFlightCost Count in Scraping  = 72
pFlightStops Count in Scraping  = 72
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3618,Vistara,24/02/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 12,138"
3619,Vistara,24/02/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 12,138"
3620,IndiGo,24/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 12,814"
3621,IndiGo,24/02/2022,Mumbai,New Delhi,09:25,13:40,1 stop via Indore,"₹ 13,306"
3622,AirAsia,24/02/2022,Mumbai,New Delhi,07:20,09:30,Non stop,"₹ 15,708"

Lenght :  3623

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 141
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3688,IndiGo,25/02/2022,Mumbai,New Delhi,19:15,00:20,1 stop via Ahmedabad,"₹ 12,323"
3689,IndiGo,25/02/2022,Mumbai,New Delhi,13:45,17:35,1 stop via Vadodara,"₹ 13,063"
3690,SpiceJet,25/02/2022,Mumbai,New Delhi,07:10,09:30,Non stop,"₹ 13,188"
3691,Vistara,25/02/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 13,398"
3692,Vistara,25/02/2022,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 15,709"

Lenght :  3693

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 69
Time Count in Scraping  = 138
City Count in Scraping  = 140
spanFlightCost Count in Scraping  = 69
pFlightStops Count in Scraping  = 69
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3757,SpiceJet,26/02/2022,Mumbai,New Delhi,05:55,10:40,1 stop via Jaipur,"₹ 12,741"
3758,Vistara,26/02/2022,Mumbai,New Delhi,07:00,12:40,1 stop via Bengaluru,"₹ 13,083"
3759,Vistara,26/02/2022,Mumbai,New Delhi,16:00,21:35,1 stop via Bengaluru,"₹ 13,556"
3760,Vistara,26/02/2022,Mumbai,New Delhi,09:05,14:10,1 stop via Bengaluru,"₹ 13,976"
3761,IndiGo,26/02/2022,Mumbai,New Delhi,09:25,13:40,1 stop via Indore,"₹ 15,269"

Lenght :  3762

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 74
Time Count in Scraping  = 148
City Count in Scraping  = 150
spanFlightCost Count in Scraping  = 74
pFlightStops Count in Scraping  = 74
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3831,IndiGo,27/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 10,826"
3832,Air India,27/02/2022,Mumbai,New Delhi,18:35,23:55,1 stop via Ahmedabad,"₹ 11,508"
3833,IndiGo,27/02/2022,Mumbai,New Delhi,06:05,10:25,1 stop via Udaipur,"₹ 12,323"
3834,SpiceJet,27/02/2022,Mumbai,New Delhi,05:55,10:40,1 stop via Jaipur,"₹ 12,388"
3835,Go First,27/02/2022,Mumbai,New Delhi,13:30,15:45,Non stop,"₹ 12,486"

Lenght :  3836

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 81
Time Count in Scraping  = 162
City Count in Scraping  = 163
spanFlightCost Count in Scraping  = 81
pFlightStops Count in Scraping  = 81
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3912,IndiGo,28/02/2022,Mumbai,New Delhi,17:30,00:20,1 stop via Ahmedabad,"₹ 8,394"
3913,Go First,28/02/2022,Mumbai,New Delhi,05:20,09:50,1 stop via Ahmedabad,"₹ 8,859"
3914,IndiGo,28/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 8,885"
3915,IndiGo,28/02/2022,Mumbai,New Delhi,09:25,13:40,1 stop via Indore,"₹ 9,377"
3916,Air India,28/02/2022,Mumbai,New Delhi,05:35,10:55,1 stop via Nagpur,"₹ 10,143"

Lenght :  3917

-----Skiped-----

--------------
origin = DEL
destin = GOI

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3931,SpiceJet,22/02/2022,New Delhi,Goa,19:30,22:00,Non stop,"₹ 20,340"
3932,SpiceJet,22/02/2022,New Delhi,Goa,19:40,07:10,1 stop via Bengaluru,"₹ 31,785"
3933,Vistara,22/02/2022,New Delhi,Goa,21:50,14:05,"2 stop via Mumbai,Bengaluru","₹ 33,010"
3934,Vistara,22/02/2022,New Delhi,Goa,21:50,12:45,1 stop via Mumbai,"₹ 34,214"
3935,Vistara,22/02/2022,New Delhi,Goa,20:40,12:45,"2 stop via Bengaluru,Mumbai","₹ 43,650"

Lenght :  3936

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 46
Time Count in Scraping  = 92
City Count in Scraping  = 92
spanFlightCost Count in Scraping  = 46
pFlightStops Count in Scraping  = 46
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3977,IndiGo,23/02/2022,New Delhi,Goa,12:15,14:50,Non stop,"₹ 20,340"
3978,AirAsia,23/02/2022,New Delhi,Goa,12:20,14:55,Non stop,"₹ 20,340"
3979,AirAsia,23/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 20,340"
3980,IndiGo,23/02/2022,New Delhi,Goa,15:50,18:20,Non stop,"₹ 20,340"
3981,IndiGo,23/02/2022,New Delhi,Goa,18:55,21:30,Non stop,"₹ 20,340"

Lenght :  3982

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4027,IndiGo,24/02/2022,New Delhi,Goa,12:15,14:50,Non stop,"₹ 20,340"
4028,AirAsia,24/02/2022,New Delhi,Goa,12:20,14:55,Non stop,"₹ 20,340"
4029,AirAsia,24/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 20,340"
4030,IndiGo,24/02/2022,New Delhi,Goa,15:50,18:20,Non stop,"₹ 20,340"
4031,SpiceJet,24/02/2022,New Delhi,Goa,16:20,19:00,Non stop,"₹ 20,340"

Lenght :  4032

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 47
Time Count in Scraping  = 94
City Count in Scraping  = 95
spanFlightCost Count in Scraping  = 47
pFlightStops Count in Scraping  = 47
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4074,IndiGo,25/02/2022,New Delhi,Goa,11:05,13:35,Non stop,"₹ 20,340"
4075,IndiGo,25/02/2022,New Delhi,Goa,12:15,14:50,Non stop,"₹ 20,340"
4076,AirAsia,25/02/2022,New Delhi,Goa,12:20,14:55,Non stop,"₹ 20,340"
4077,AirAsia,25/02/2022,New Delhi,Goa,20:00,22:35,Non stop,"₹ 20,340"
4078,Vistara,25/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 23,910"

Lenght :  4079

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4125,IndiGo,26/02/2022,New Delhi,Goa,11:05,13:35,Non stop,"₹ 20,340"
4126,Vistara,26/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 20,340"
4127,IndiGo,26/02/2022,New Delhi,Goa,12:15,14:50,Non stop,"₹ 20,340"
4128,AirAsia,26/02/2022,New Delhi,Goa,12:20,14:55,Non stop,"₹ 20,340"
4129,AirAsia,26/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 20,340"

Lenght :  4130

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4177,IndiGo,27/02/2022,New Delhi,Goa,11:05,13:35,Non stop,"₹ 16,035"
4178,IndiGo,27/02/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 17,085"
4179,SpiceJet,27/02/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 17,504"
4180,AirAsia,27/02/2022,New Delhi,Goa,05:20,07:50,Non stop,"₹ 20,340"
4181,Air India,27/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 20,340"

Lenght :  4182

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4228,Go First,28/02/2022,New Delhi,Goa,10:50,13:30,Non stop,"₹ 8,790"
4229,IndiGo,28/02/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 9,105"
4230,AirAsia,28/02/2022,New Delhi,Goa,05:20,07:50,Non stop,"₹ 10,250"
4231,Vistara,28/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 12,045"
4232,Air India,28/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 13,620"

Lenght :  4233

-----Skiped-----

origin = DEL
destin = AMD

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4241,Vistara,22/02/2022,New Delhi,Ahmedabad,18:20,20:05,Non stop,"₹ 9,263"
4242,Vistara,22/02/2022,New Delhi,Ahmedabad,21:20,23:00,Non stop,"₹ 11,815"
4243,Go First,22/02/2022,New Delhi,Ahmedabad,18:40,07:30,1 stop via Bengaluru,"₹ 12,887"
4244,Go First,22/02/2022,New Delhi,Ahmedabad,18:50,06:40,1 stop via Mumbai,"₹ 13,065"
4245,Go First,22/02/2022,New Delhi,Ahmedabad,21:00,06:40,1 stop via Mumbai,"₹ 14,848"

Lenght :  4246

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4268,Go First,23/02/2022,New Delhi,Ahmedabad,14:20,19:25,1 stop via Mumbai,"₹ 12,329"
4269,Go First,23/02/2022,New Delhi,Ahmedabad,15:00,20:25,1 stop via Mumbai,"₹ 12,329"
4270,Go First,23/02/2022,New Delhi,Ahmedabad,08:00,19:25,1 stop via Mumbai,"₹ 12,906"
4271,IndiGo,23/02/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 13,352"
4272,Go First,23/02/2022,New Delhi,Ahmedabad,05:50,19:30,1 stop via Kolkata,"₹ 17,244"

Lenght :  4273

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4299,IndiGo,24/02/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 12,218"
4300,IndiGo,24/02/2022,New Delhi,Ahmedabad,12:35,18:40,1 stop via Lucknow,"₹ 13,988"
4301,IndiGo,24/02/2022,New Delhi,Ahmedabad,07:50,18:40,1 stop via Lucknow,"₹ 13,988"
4302,Air India,24/02/2022,New Delhi,Ahmedabad,21:15,19:55,"2 stop via Bengaluru,Mumbai","₹ 15,555"
4303,Air India,24/02/2022,New Delhi,Ahmedabad,17:20,19:55,"2 stop via Bengaluru,Mumbai","₹ 23,010"

Lenght :  4304

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4322,IndiGo,25/02/2022,New Delhi,Ahmedabad,18:30,20:00,Non stop,"₹ 11,835"
4323,IndiGo,25/02/2022,New Delhi,Ahmedabad,22:15,23:50,Non stop,"₹ 11,835"
4324,IndiGo,25/02/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 12,586"
4325,Go First,25/02/2022,New Delhi,Ahmedabad,15:00,20:25,1 stop via Mumbai,"₹ 13,065"
4326,Vistara,25/02/2022,New Delhi,Ahmedabad,18:20,20:05,Non stop,"₹ 14,251"

Lenght :  4327

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4349,Go First,26/02/2022,New Delhi,Ahmedabad,14:20,20:25,1 stop via Mumbai,"₹ 10,281"
4350,IndiGo,26/02/2022,New Delhi,Ahmedabad,14:05,21:30,1 stop via Indore,"₹ 10,733"
4351,Go First,26/02/2022,New Delhi,Ahmedabad,14:20,19:25,1 stop via Mumbai,"₹ 10,964"
4352,IndiGo,26/02/2022,New Delhi,Ahmedabad,18:00,21:30,1 stop via Indore,"₹ 11,573"
4353,IndiGo,26/02/2022,New Delhi,Ahmedabad,12:35,18:40,1 stop via Lucknow,"₹ 11,678"

Lenght :  4354

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4380,IndiGo,27/02/2022,New Delhi,Ahmedabad,06:00,13:30,1 stop via Lucknow,"₹ 10,628"
4381,IndiGo,27/02/2022,New Delhi,Ahmedabad,12:35,18:40,1 stop via Lucknow,"₹ 11,678"
4382,IndiGo,27/02/2022,New Delhi,Ahmedabad,18:30,20:00,Non stop,"₹ 11,835"
4383,IndiGo,27/02/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 11,993"
4384,IndiGo,27/02/2022,New Delhi,Ahmedabad,18:00,21:30,1 stop via Indore,"₹ 13,463"

Lenght :  4385

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4412,IndiGo,28/02/2022,New Delhi,Ahmedabad,15:00,21:05,1 stop via Chandigarh,"₹ 8,684"
4413,IndiGo,28/02/2022,New Delhi,Ahmedabad,12:55,18:30,1 stop via Bhopal,"₹ 9,000"
4414,Go First,28/02/2022,New Delhi,Ahmedabad,14:20,19:25,1 stop via Mumbai,"₹ 10,281"
4415,IndiGo,28/02/2022,New Delhi,Ahmedabad,18:00,21:30,1 stop via Indore,"₹ 11,153"
4416,Vistara,28/02/2022,New Delhi,Ahmedabad,18:20,20:05,Non stop,"₹ 11,815"

Lenght :  4417

-----Skiped-----

origin = DEL
destin = TIR

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d7a76b95994f>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x010AFDC3+2555331]
	Ordinal0 [0x010477F1+2127857]
	Ordinal0 [0x00F42E08+1060360]
	Ordinal0 [0x00F6E49E+1238174]
	Ordinal0 [0x00F6E69B+1238683]
	Ordinal0 [0x00F99252+1413714]
	Ordinal0 [0x00F87B54+1342292]
	Ordinal0 [0x00F975FA+1406458]
	Ordinal0 [0x00F87976+1341814]
	Ordinal0 [0x00F636B6+1193654]
	Ordinal0 [0x00F64546+1197382]
	GetHandleVerifier [0x01249622+1619522]
	GetHandleVerifier [0x012F882C+2336844]
	GetHandleVerifier [0x011423E1+541697]
	GetHandleVerifier [0x01141443+537699]
	Ordinal0 [0x0104D18E+2150798]
	Ordinal0 [0x01051518+2168088]
	Ordinal0 [0x01051660+2168416]
	Ordinal0 [0x0105B330+2208560]
	BaseThreadInitThunk [0x7619FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77697A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77697A6E+238]

22/02/2022  scraping complete

origin = DEL
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4433,Vistara,22/02/2022,New Delhi,Bengaluru,20:40,07:50,1 stop via Mumbai,"₹ 16,245"
4434,Vistara,22/02/2022,New Delhi,Bengaluru,20:30,17:45,"2 stop via Kolkata,Mumbai","₹ 16,617"
4435,Air India,22/02/2022,New Delhi,Bengaluru,21:25,14:55,"2 stop via Hyderabad,Kolhapur","₹ 18,030"
4436,SpiceJet,22/02/2022,New Delhi,Bengaluru,19:40,22:25,Non stop,"₹ 20,340"
4437,SpiceJet,22/02/2022,New Delhi,Bengaluru,19:30,09:00,1 stop via Goa,"₹ 23,743"

Lenght :  4438

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4493,Vistara,23/02/2022,New Delhi,Bengaluru,11:40,17:45,1 stop via Mumbai,"₹ 10,995"
4494,Vistara,23/02/2022,New Delhi,Bengaluru,15:30,20:55,1 stop via Mumbai,"₹ 11,415"
4495,"Vistara, AirAsia",23/02/2022,New Delhi,Bengaluru,17:40,23:15,1 stop via Hyderabad,"₹ 11,460"
4496,Air India,23/02/2022,New Delhi,Bengaluru,20:15,01:50,1 stop via Kolkata,"₹ 11,520"
4497,Vistara,23/02/2022,New Delhi,Bengaluru,14:45,19:30,1 stop via Hyderabad,"₹ 12,728"

Lenght :  4498

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4554,"Vistara, AirAsia",24/02/2022,New Delhi,Bengaluru,17:40,23:15,1 stop via Hyderabad,"₹ 11,145"
4555,Vistara,24/02/2022,New Delhi,Bengaluru,14:45,19:30,1 stop via Hyderabad,"₹ 11,415"
4556,Vistara,24/02/2022,New Delhi,Bengaluru,05:45,10:45,1 stop via Mumbai,"₹ 11,573"
4557,SpiceJet,24/02/2022,New Delhi,Bengaluru,19:40,22:25,Non stop,"₹ 14,250"
4558,Air India,24/02/2022,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 14,880"

Lenght :  4559

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4616,Go First,25/02/2022,New Delhi,Bengaluru,18:20,00:05,1 stop via Pune,"₹ 11,154"
4617,Vistara,25/02/2022,New Delhi,Bengaluru,05:45,10:45,1 stop via Mumbai,"₹ 11,573"
4618,IndiGo,25/02/2022,New Delhi,Bengaluru,17:25,23:55,1 stop via Pune,"₹ 11,626"
4619,IndiGo,25/02/2022,New Delhi,Bengaluru,07:05,11:40,1 stop via Raipur,"₹ 12,150"
4620,SpiceJet,25/02/2022,New Delhi,Bengaluru,19:40,22:25,Non stop,"₹ 20,340"

Lenght :  4621

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 131
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4681,Vistara,26/02/2022,New Delhi,Bengaluru,12:50,17:45,1 stop via Mumbai,"₹ 12,833"
4682,SpiceJet,26/02/2022,New Delhi,Bengaluru,05:35,08:05,Non stop,"₹ 20,340"
4683,AirAsia,26/02/2022,New Delhi,Bengaluru,09:35,12:25,Non stop,"₹ 20,340"
4684,AirAsia,26/02/2022,New Delhi,Bengaluru,16:05,18:45,Non stop,"₹ 20,340"
4685,Go First,26/02/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 30,222"

Lenght :  4686

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4744,Vistara,27/02/2022,New Delhi,Bengaluru,12:50,17:45,1 stop via Mumbai,"₹ 13,883"
4745,Vistara,27/02/2022,New Delhi,Bengaluru,14:15,17:00,Non stop,"₹ 14,880"
4746,Air India,27/02/2022,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 16,455"
4747,Air India,27/02/2022,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 16,455"
4748,AirAsia,27/02/2022,New Delhi,Bengaluru,16:05,18:45,Non stop,"₹ 20,340"

Lenght :  4749

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 135
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4811,Vistara,28/02/2022,New Delhi,Bengaluru,15:30,20:55,1 stop via Mumbai,"₹ 10,785"
4812,Vistara,28/02/2022,New Delhi,Bengaluru,17:45,22:50,1 stop via Mumbai,"₹ 10,785"
4813,IndiGo,28/02/2022,New Delhi,Bengaluru,07:05,11:40,1 stop via Raipur,"₹ 10,838"
4814,IndiGo,28/02/2022,New Delhi,Bengaluru,13:50,19:00,1 stop via Vadodara,"₹ 10,995"
4815,Air India,28/02/2022,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 14,880"

Lenght :  4816

-----Skiped-----

origin = DEL
destin = BOM

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4832,IndiGo,22/02/2022,New Delhi,Mumbai,21:15,23:30,Non stop,"₹ 9,420"
4833,IndiGo,22/02/2022,New Delhi,Mumbai,22:15,05:55,1 stop via Ahmedabad,"₹ 10,349"
4834,Vistara,22/02/2022,New Delhi,Mumbai,20:40,22:50,Non stop,"₹ 11,521"
4835,Vistara,22/02/2022,New Delhi,Mumbai,21:50,23:50,Non stop,"₹ 11,521"
4836,IndiGo,22/02/2022,New Delhi,Mumbai,18:30,23:25,1 stop via Ahmedabad,"₹ 14,744"

Lenght :  4837

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 74
Time Count in Scraping  = 148
City Count in Scraping  = 148
spanFlightCost Count in Scraping  = 74
pFlightStops Count in Scraping  = 74
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4906,IndiGo,23/02/2022,New Delhi,Mumbai,07:20,12:25,1 stop via Udaipur,"₹ 13,279"
4907,IndiGo,23/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 13,279"
4908,Vistara,23/02/2022,New Delhi,Mumbai,17:10,21:35,1 stop via Chandigarh,"₹ 13,515"
4909,IndiGo,23/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 13,673"
4910,SpiceJet,23/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 15,720"

Lenght :  4911

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 74
Time Count in Scraping  = 148
City Count in Scraping  = 149
spanFlightCost Count in Scraping  = 74
pFlightStops Count in Scraping  = 74
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4980,IndiGo,24/02/2022,New Delhi,Mumbai,09:05,13:15,1 stop via Rajkot,"₹ 11,573"
4981,AirAsia,24/02/2022,New Delhi,Mumbai,18:35,21:05,Non stop,"₹ 11,809"
4982,Air India,24/02/2022,New Delhi,Mumbai,13:15,17:50,1 stop via Udaipur,"₹ 12,150"
4983,SpiceJet,24/02/2022,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 12,360"
4984,SpiceJet,24/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 15,720"

Lenght :  4985

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-25/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 76
Time Count in Scraping  = 152
City Count in Scraping  = 153
spanFlightCost Count in Scraping  = 76
pFlightStops Count in Scraping  = 76
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5056,Vistara,25/02/2022,New Delhi,Mumbai,07:30,13:00,1 stop via Kolkata,"₹ 14,040"
5057,IndiGo,25/02/2022,New Delhi,Mumbai,18:30,23:25,1 stop via Ahmedabad,"₹ 14,744"
5058,AirAsia,25/02/2022,New Delhi,Mumbai,18:35,21:05,Non stop,"₹ 15,720"
5059,SpiceJet,25/02/2022,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 15,720"
5060,SpiceJet,25/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 15,720"

Lenght :  5061

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-26/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 76
Time Count in Scraping  = 152
City Count in Scraping  = 153
spanFlightCost Count in Scraping  = 76
pFlightStops Count in Scraping  = 76
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5132,IndiGo,26/02/2022,New Delhi,Mumbai,18:30,23:25,1 stop via Ahmedabad,"₹ 10,838"
5133,SpiceJet,26/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 11,624"
5134,Go First,26/02/2022,New Delhi,Mumbai,16:40,21:25,1 stop via Ahmedabad,"₹ 11,651"
5135,IndiGo,26/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 11,814"
5136,Vistara,26/02/2022,New Delhi,Mumbai,17:10,21:35,1 stop via Chandigarh,"₹ 11,835"

Lenght :  5137

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-27/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 77
Time Count in Scraping  = 154
City Count in Scraping  = 156
spanFlightCost Count in Scraping  = 77
pFlightStops Count in Scraping  = 77
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5209,IndiGo,27/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 13,279"
5210,Go First,27/02/2022,New Delhi,Mumbai,09:10,14:15,1 stop via Varanasi,"₹ 13,700"
5211,Go First,27/02/2022,New Delhi,Mumbai,16:40,21:25,1 stop via Ahmedabad,"₹ 13,909"
5212,IndiGo,27/02/2022,New Delhi,Mumbai,18:30,23:25,1 stop via Ahmedabad,"₹ 14,744"
5213,SpiceJet,27/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 15,720"

Lenght :  5214

<ipython-input-3-d7a76b95994f>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = selenium.webdriver.Chrome(r"C:\Users\Administrator\Downloads\chromedriver.exe")

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-28/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

<ipython-input-3-d7a76b95994f>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 87
Time Count in Scraping  = 174
City Count in Scraping  = 174
spanFlightCost Count in Scraping  = 87
pFlightStops Count in Scraping  = 87
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5296,Vistara,28/02/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 11,415"
5297,IndiGo,28/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 11,573"
5298,IndiGo,28/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 11,730"
5299,IndiGo,28/02/2022,New Delhi,Mumbai,14:05,17:55,1 stop via Indore,"₹ 11,814"
5300,SpiceJet,28/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 15,720"

Lenght :  5301

-----Skiped-----

origin = DEL
destin = DEL

In [9]:
#checking scraped Flight Price data
df=pd.read_csv("Flight.csv")
df

,Unnamed: 0,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Go First,22/02/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
2,1,Go First,22/02/2022,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
3,2,IndiGo,22/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
4,3,IndiGo,22/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
...,...,...,...,...,...,...,...,...,...
5296,82,Vistara,28/02/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 11,415"
5297,83,IndiGo,28/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 11,573"
5298,84,IndiGo,28/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 11,730"
5299,85,IndiGo,28/02/2022,New Delhi,Mumbai,14:05,17:55,1 stop via Indore,"₹ 11,814"
5300,86,SpiceJet,28/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 15,720"

In [10]:
#saving Flight Price data as csv file
df.to_csv("flight_price.csv")